<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Yossarian</title>
    <link href='http://fonts.googleapis.com/css?family=Norican' rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&subset=cyrillic,cyrillic-ext,latin,latin-ext,' rel='stylesheet' type='text/css' />
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'https://www.youtube.com/iframe_api' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
